APP_HOST=0.0.0.0
APP_PORT=3001

DATABASE_URL=postgresql://postgres:postgres@postgres:5432/leads?schema=public

BULLMQ_CONNECTION_HOST=redis
BULLMQ_CONNECTION_PORT=6379
BULLMQ_CONNECTION_PASSWORD=password

TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
