APP_HOST=0.0.0.0
APP_PORT=3001

DATABASE_URL=postgresql://postgres:postgres@postgres:5432/leads?schema=public

BULLMQ_CONNECTION_HOST=redis
BULLMQ_CONNECTION_PORT=6379
BULLMQ_CONNECTION_PASSWORD=password

# Clients settings
HTTP_CLIENT_TIMEOUT=1000
HTTP_CLIENT_RETRY_COUNT=3
TELEGRAM_CLIENT_TOKEN=1234567890:AAAAABCDEFGHIJKLMNOPQRSTUVWXYZ123

# Delivery adapters settings
CONSOLE_LEAD_DELIVERY_ENABLED=true
DATABASE_LEAD_DELIVERY_ENABLED=true
TELEGRAM_LEAD_DELIVERY_ENABLED=true
TELEGRAM_LEAD_DELIVERY_CHAT_ID=123456789
HTTP_LEAD_DELIVERY_ENABLED=true
HTTP_LEAD_DELIVERY_ENDPOINTS=http://localhost:3050/leads
