**/node_modules
**/dist
**/*.tsbuildinfo
**/.git
**/.gitignore
**/Dockerfile*
**/docker-compose*.yml
**/.env
**/.env.*
**/.vscode
**/.idea
**/*.md
**/LICENSE
**/.markdownlint.json
**/.prettierrc
**/eslint.config.mjs
**/prisma/generated/