REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=password

BULLBOARD_USER=admin
BULLBOARD_PASSWORD=admin

# докер сделает доступным gateway и bullboard на этих локальных портах
GATEWAY_FORWARD_PORT=3000
BULLBOARD_FORWARD_PORT=4000