REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=password

BULLBOARD_USER=admin
BULLBOARD_PASSWORD=admin

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=leads_router

GATEWAY_FORWARD_PORT=3000
BULLBOARD_FORWARD_PORT=4000
