APP_HOST=0.0.0.0
APP_PORT=3000
APP_SWAGGER_ENABLE=false
APP_SWAGGER_API_DOCS=api/docs
APP_SWAGGER_API_JSON_DOCS=api/json-docs
BULLMQ_CONNECTION_HOST=redis
BULLMQ_CONNECTION_PORT=6379
BULLMQ_CONNECTION_PASSWORD=password
